In [154]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [155]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
284,tt1078940,70000000,171844840,Couples Retreat,Vince Vaughn|Malin Ã…kerman|Jason Bateman|Kris...,Peter Billingsley,It may be paradise... but it's no vacation.,"Four couples, all friends, descend on a tropic...",113,Comedy|Romance,Universal Pictures|Wild West Picture Show Prod...,9/19/2009,5.3,2009
408,tt1325004,68000000,698491347,The Twilight Saga: Eclipse,Kristen Stewart|Robert Pattinson|Taylor Lautne...,David Slade,It all begins ... With a choice.,Bella once again finds herself surrounded by d...,124,Adventure|Fantasy|Drama|Romance,Summit Entertainment|Maverick Films|Imprint En...,6/23/2010,5.9,2010
560,tt0251075,80000000,98376292,Evolution,David Duchovny|Julianne Moore|Orlando Jones|Se...,Ivan Reitman,Coming to wipe that silly smile off your planet.,A comedy that follows the chaos that ensues wh...,101,Action|Comedy|Science Fiction,DreamWorks SKG|Columbia Pictures Corporation|M...,6/8/2001,5.4,2001
503,tt0240772,85000000,450717150,Ocean's Eleven,George Clooney|Brad Pitt|Matt Damon|Andy GarcÃ...,Steven Soderbergh,Are you in or out?,"Less than 24 hours into his parole, charismati...",116,Thriller|Crime,Village Roadshow Pictures|Section Eight|NPV En...,12/7/2001,7.0,2001
530,tt0271027,25000000,64437847,Kiss of the Dragon,Jet Li|Bridget Fonda|TchÃ©ky Karyo|Max Ryan|Ri...,Chris Nahon,Kiss Fear Goodbye,"Liu Jian, an elite Chinese police officer, com...",98,Action|Crime|Thriller,Twentieth Century Fox Film Corporation|Current...,7/6/2001,6.3,2001

In [156]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [157]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

def ans_format(a):
    """Add formated answer to simplify picking up the proper answer."""
    return f"{a.original_title} ({a.imdb_id})"

data["formated_answer"] = data.apply(lambda row: ans_format(row), axis = 1)
data["profit"] = data.revenue - data.budget

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [158]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'

answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# если ответили верно, можете добавить комментарий со значком "+"

In [159]:
# тут пишем ваш код для решения данного вопроса:

In [160]:
data.sort_values(by=["budget"], ascending=False).iloc[0]["formated_answer"]

'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [161]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [162]:
data.sort_values(by=["runtime"], ascending=False).iloc[0]["formated_answer"]

'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [163]:
answers["3"] = 'Winnie the Pooh (tt1449283)'

In [164]:
data.sort_values(by=["runtime"], ascending=True).iloc[0]["formated_answer"]

'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [165]:
answers["4"] = 109.6585494970884

In [166]:
data["runtime"].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [167]:
answers["5"] = 107

In [168]:
data["runtime"].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [169]:
answers["6"] = 'Avatar (tt0499549)'

In [170]:
data.sort_values(by=["profit"], ascending=False).iloc[0]["formated_answer"]

'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [171]:
answers["7"] = 'The Lone Ranger (tt1210819)'

In [225]:
data.sort_values(by=["profit"], ascending=True).iloc[0]["formated_answer"]

'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [173]:
answers["8"] = 1478

In [226]:
len(data[data["profit"] > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [175]:
answers["9"] = 'The Dark Knight (tt0468569)'

In [227]:
data[data["release_year"] == 2008].sort_values(by=["profit"], ascending = False).iloc[0]["formated_answer"]

'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [177]:
answers["10"] = 'The Lone Ranger (tt1210819)'

In [228]:
data[(data["release_year"] >= 2012) & (data["release_year"] <= 2014)].sort_values(by=["profit"], ascending = True).iloc[0]["formated_answer"]

'The Lone Ranger (tt1210819)'

ВАРИАНТ 2

In [229]:
data.query("2012 <= release_year <= 2014").sort_values(by=["profit"], ascending = True).iloc[0]["formated_answer"]

'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [180]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [181]:
answers["11"] = 'Drama'

In [182]:
genres_freq = {}

for item in data["genres"]:
    genre_list = item.split("|")
    for gen in genre_list:
        if gen in genres_freq:
            genres_freq[gen] += 1
        else:
            genres_freq[gen] = 1

display(genres_freq)

{'Action': 582,
 'Adventure': 415,
 'Science Fiction': 248,
 'Thriller': 596,
 'Fantasy': 222,
 'Crime': 315,
 'Western': 19,
 'Drama': 782,
 'Family': 260,
 'Animation': 139,
 'Comedy': 683,
 'Mystery': 168,
 'Romance': 308,
 'War': 58,
 'History': 62,
 'Music': 64,
 'Horror': 176,
 'Documentary': 8,
 'Foreign': 2}

ВАРИАНТ 2

In [230]:
data_genres = data.copy()
data_genres["genres"] = data_genres.genres.str.split("|").explode("genres")
data_genres["genres"].mode()

0    Drama
dtype: object

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [184]:
answers["12"] = 'Drama'

In [231]:
#Reuse data_genres from 11
profitable_by_genre = data_genres[data_genres["profit"] > 0].groupby("genres")["profit"].count().sort_values(ascending = False)
display(profitable_by_genre)

genres
Drama              229
Comedy             183
Action             178
Thriller           156
Adventure          129
Romance             94
Science Fiction     89
Crime               83
Family              71
Fantasy             70
Mystery             51
Horror              44
Animation           39
War                 22
Music               17
History             16
Western              5
Documentary          1
Foreign              1
Name: profit, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [186]:
answers["13"] = 'Peter Jackson'

In [232]:
data_directors = data.copy()
data_directors["director"] = data_directors["director"].str.split("|")
data_directors = data_directors.explode("director")
data_directors.groupby("director")["revenue"].sum().sort_values(ascending = False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [188]:
answers["14"] = 'Robert Rodriguez'

In [233]:
#reuse data_directors from 13
data_directors[data_directors.genres.str.contains("Action", 
                        na = False)].groupby("director")["imdb_id"].count().sort_values(ascending = False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [190]:
answers["15"] = 'Chris Hemsworth'

In [234]:
data_cast = data.copy()
data_cast["cast"] = data_cast["cast"].str.split("|")
data_cast = data_cast.explode("cast")
data_cast[data_cast["release_year"] == 2012].groupby("cast")["revenue"].sum().sort_values(ascending = False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [192]:
answers["16"] = 'Matt Damon'

In [235]:
data_cast[data_cast["budget"] > data_cast["budget"].mean()].groupby("cast")["budget"].count().sort_values(ascending = False)

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: budget, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [236]:
answers["17"] = 'Action'

In [240]:
#Reused data_genres from 11
data_genres[data_genres.cast.str.contains("Nicolas Cage", na = False)]["genres"].mode()

0    Action
1    Family
dtype: object

# 18. Самый убыточный фильм от Paramount Pictures

In [196]:
answers["18"] = 'K-19: The Widowmaker (tt0267626)'

In [241]:
paramount_films = data[data.production_companies.str.contains("Paramount Pictures")]
paramount_films[paramount_films["profit"] == paramount_films["profit"].min()]["formated_answer"]

925    K-19: The Widowmaker (tt0267626)
Name: formated_answer, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [242]:
answers["19"] = 2015

In [243]:
data.groupby("release_year")["revenue"].sum().sort_values(ascending = False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [244]:
answers["20"] = 2014
warner_bros = data[data.production_companies.str.contains("Warner Bros")]
warner_bros.groupby("release_year")["profit"].sum().sort_values(ascending = False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [250]:
answers["21"] = "Сентябрь"

In [251]:
data_date = data.copy()
data_date["release_date"]= pd.to_datetime(data_date["release_date"])
data_date["month"] = data_date["release_date"].apply(lambda x: x.month)
data_date.groupby("month")["imdb_id"].count().sort_values(ascending = False).index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [252]:
answers["22"] = 450

In [253]:
len(data_date.query("month == 6 or month == 7 or month == 8"))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [266]:
answers["23"] = "Peter Jackson"

In [256]:
data_23 = data.copy()
data_23.insert(0, "month", data.apply(lambda row: (pd.to_datetime(row.release_date)).month, axis = 1))
data_23.query("month == 1 or month == 2 or month == 12").director.str.split("|").explode("director").mode()

0    Peter Jackson
dtype: object

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [270]:
answers["24"] = "Four By Two Productions"

In [268]:
data24 = data.copy()

data24["production_companies"] = data24.production_companies.str.split("|")

data24 = data24.explode("production_companies")

data24["title_len"] = data24.original_title.str.len()

data24.groupby("production_companies")["title_len"].max().sort_values(ascending = False)

production_companies
Four By Two Productions                   83
Twentieth Century Fox Film Corporation    83
Walden Media                              62
Walt Disney                               62
Jim Henson Company, The                   59
                                          ..
Everest Entertainment                      3
Berlanti Productions                       3
XM2 Productions                            2
Global Entertainment Group                 2
Ixtlan Productions                         2
Name: title_len, Length: 1771, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [269]:
answers["25"] = "Midnight Picture Show"

In [264]:
data25 = data24.copy()
data25["overview_word_count"] = data25.overview.apply(lambda x: len(x.split(" ")))
data25.groupby("production_companies")["overview_word_count"].mean().sort_values(ascending = False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_word_count, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [286]:
answers["26"] = "Inside Out, The Dark Knight, 12 Years a Slave"

In [287]:
data[data.vote_average > np.percentile(data.vote_average,99)]["original_title"]

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [290]:
answers["27"] = ("Daniel Radcliffe", "Rupert Grint")

In [291]:
from itertools import combinations

data.cast.str.split('|').apply(lambda x: list(combinations(x, 2))).explode('cast').value_counts()

(Daniel Radcliffe, Rupert Grint)              8
(Daniel Radcliffe, Emma Watson)               8
(Rupert Grint, Emma Watson)                   7
(Ben Stiller, Owen Wilson)                    6
(Johnny Depp, Helena Bonham Carter)           6
                                             ..
(Christoph Waltz, Tatum Etheridge)            1
(George Clooney, Frances McDormand)           1
(Nikolaj Coster-Waldau, Isabelle NÃ©lisse)    1
(Matt Lanter, Bradley Dodds)                  1
(Ewan McGregor, Hugh Laurie)                  1
Name: cast, Length: 18121, dtype: int64

# Submission

In [292]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 'Peter Jackson',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [289]:
# и убедиться что ни чего не пропустил)
len(answers)

27